* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
}
.main-dashboard {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 52px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-grow: 1;
}

.drawer {
  width: 15%;
  margin-top: 11px;
  border-right: 1px solid #eeeeee;
  margin-left: 10px; /* Adjusted margin-left value */
}
/* font-family: 'Gelasio', serif; */
/* font-family: 'Poppins', sans-serif; */
/* /* font-family: 'Sometype Mono', monospace; */

.dashboard {
  display: block;
  width: 100%;
  padding: 9px;
  text-decoration: none;
  font-family: "Sometype Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  color: #7c7c7c;
}
.drawer-links {
  margin-top: 17px;
}
.links {
  margin-top: 13px;
}

.links i {
  margin-right: 10px;
}

.blog,
.notifi,
.writes,
.edit-profile,
.change-pass {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid white;
  color: #7c7c7c;
}
.set-text {
  width: 100%;
  padding: 9px;
  text-decoration: none;
  font-family: "Sometype Mono", monospace;
  font-size: 12px;
  font-weight: bold;
  color: #7c7c7c;
}
.edit-profile {
  margin-top: 10px;
}
.blog:hover,
.notifi:hover,
.writes:hover,
.edit-profile:hover,
.change-pass:hover {
  color: #111111;
}

.setting {
  margin-top: 40px;
}
.links a.selected {
  background-color: #eeeeee; /* Change to your desired selected background color */
  color: #444; /* Change to your desired selected text color */
  border-right: 2px solid black;
}
#blog-ui,
#notiy,
#writeblog,
#blog-create,
#edit,
#change-pass {
  display: none; /* Initially hide all right UI elements */
}
#blog-ui {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.blogDetails h4 {
  text-decoration: none;
  font-family: "Sometype Mono", monospace;
  font-size: 15px;
  font-weight: bold;
  color: #7c7c7c;
}
.gls {
  position: absolute;
  top: 49%; /* Adjust as needed to vertically center the icon */
  left: 14px; /* Adjust the left position as needed */
  transform: translateY(-50%);
  font-size: 14px;
}
.blog-search {
  margin-top: 15px;
  position: relative;
}

.blog-search input {
  width: 90%;
  background-color: #eeeeee;
  padding: 11px;
  border-radius: 25px;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
}
.blog-search input[type="search"] {
  padding-left: 35px;
}

.publish {
  margin-top: 19px;
  border-bottom: 1px solid #eeeeee;
}
.create-blog button {
  padding: 5px;
  background-color: transparent;
  color: #7c7c7c;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 2px;
  font-size: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}
.create-blog button.selected {
  border-bottom: 1px solid #111111;
  color: #111111;
}
.blog-card {
  width: 100%;
  display: block;
  margin-top: 20px;
}
.blog-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}
.draf {
  display: none;
}
.left-details {
  width: 50%;
  display: flex;
  align-items: center;
}
.blog-img {
  width: 23%;
  height: 80px;
  border-radius: 5px;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.blog-custom {
  margin-top: 0;
  margin-left: 20px;
}
.text-head {
  font-family: "Gelasio", serif;
  font-size: 15px;
  /* font-weight: bold; */
  color: #111111;
}
.blg-small {
  font-family: "Poppins", serif;
  font-size: 12px;
  color: #444;
  margin-top: 5px;
}
.opt-btn {
  margin-top: 4px;
}

#edit-btn {
  color: black;
  transition: all 0.3s ease-in-out;
  border: none;
}
#edit-btn:active {
  scale: 0.9;
}

#dlt-btn {
  color: #ef5350;
  transition: all 0.3s ease-in-out;
  border: none;
}

#dlt-btn:active {
  scale: 0.9;
}

.right-details {
  display: flex;
  align-items: center;
}
.right-details div {
  margin-right: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #7c7c7c;
  line-height: 15px;
}

.right-details div h5:last-child {
  font-size: 11px;
}

.draf {
  margin-top: 15px;
}

.draftcard {
  display: flex;
  align-items: start;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.draft-img {
  width: 10%;
  height: 80px;
  border-radius: 5px;
}
.draft-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.draft-head {
  font-family: "Gelasio", serif;
  font-size: 15px;
  /* font-weight: bold; */
  color: #111111;
}
.draft-small {
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
  margin-top: 5px;
}
.drat-publis {
  margin-top: 6px;
}

.draft-title {
  width: 38%;
  margin-top: 0;
  margin-left: 20px;
}

#drftpublishbtn {
  color: #4caf50;
  text-decoration: underline;
}

#notiy {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.noti-details h4 {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #7c7c7c;
}

.noti-btn {
  margin-top: 20px;
}

.noti-btn button {
  background-color: #eeeeee;
  color: #444;
  padding: 8px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  font-size: 12px;
  font-family: sans-serif;
}
.noti-btn button:first-child {
  background-color: #111111;
  color: white;
}

.no-noti {
  margin-top: 30px;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

#notification-container {
  margin-top: 15px;
}

#notification-container ul li {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 5px;
  list-style: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #444;
}

#blog-create {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.post-blog h4 {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #7c7c7c;
}

.post-btn {
  margin-top: 20px;
}
.post-btn button {
  margin-right: 15px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  color: #444;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
}
.post-btn button:first-child {
  background-color: #111111;
  color: white;
}
.post-img {
  margin-top: 20px;
  text-align: center;
}
.post-img input {
  margin-top: 15px;
}
.img-div {
  width: 60%;
  position: relative;
  height: 350px;
  margin: auto;
  border: 10px solid #eeeeee;
}
.img-div h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  color: #a7a7a7;
}
.img-div img {
  width: 100%;
  height: 100%;
}

.blg-title {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #eeeeee;
}

.blg-title p {
  border: none;
  outline: none;
  text-align: start;
  padding: 5px;
  font-size: 19px;
  font-family: "Poppins";
  color: #a7a7a7;
}

.blg-story {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #eeeeee;
  text-align: start;
  margin-bottom: 30px;
}

.blg-story span {
  border: none;
  outline: none;
  text-align: start;
  padding: 5px;
  font-size: 15px;
  font-family: "Gelasio", serif;
  /* font-family: 'Poppins', sans-serif; */
  /* /* font-family: 'Sometype Mono', monospace; */
  color: #444;
}
.fa-plus {
  margin-right: 10px;
  font-size: 12px;
}

#edit {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.edits-profile h3 {
  font-size: 14px;
  font-family: sans-serif;
  color: #575757;
}
.updt-pro {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.user-img {
  width: 100%;
  height: 120px;
  border-radius: 50%;
}
.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.updt-pro input {
  margin-top: 15px;
  cursor: pointer;
}

.update-details {
  width: 70%;
}
.updt-image {
  width: 15%;
  text-align: center;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: #eeeeee;
  color: #444;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  text-align: center;
}

/* Style the label to look like a button */
.custom-file-upload:hover {
  background: #0056b3;
  color: #fff;
}

.user-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.user-name i {
  margin-right: 6px;
}

.user-name p {
  width: 80%;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: #575757;
}

.updt-username p {
  width: 100%;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: #575757;
  border: none;
  outline: none;
}

.updt-username p span {
  margin-right: 10px;
}

.updt-info {
  margin-top: 8px;
  font-size: 11px;
  font-family: sans-serif;
  color: #575757;
  margin-left: 3px;
  margin-bottom: 10px;
}

.updt-bio {
  width: 100%;
}
.updt-bio-details {
  background-color: #eeeeee;
  padding: 5px;
  height: 100px;
}
.updt-bio-details p {
  outline: none;
  border: none;
  font-size: 12px;
  font-family: sans-serif;
  color: #575757;
}
.updt-count {
  margin-top: 8px;
  font-size: 11px;
  font-family: sans-serif;
  color: #575757;
  margin-left: 3px;
  margin-bottom: 10px;
}

.updt-social {
  margin-top: 20px;
}
.updt-pro p {
  font-size: 12px;
  font-family: sans-serif;
  color: #575757;
  margin-left: 3px;
  margin-bottom: 10px;
}
.social-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.social-input div {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #eeeeee;
  margin-bottom: 6px;
}

.social-input div div p {
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

#update {
  margin-top: 15px;
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #111111;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#update:active {
  scale: 0.9;
}

#change-pass {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.pop-up {
  display: none;
  position: absolute;
  left: 30%;
  top: -37%;
  z-index: 999;
  border: 1px solid #eeeeee;
  background-color: #4caf50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: popUp 0.5s ease-in-out;
}
.pop-up p {
  padding: 10px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}
.pop-up p i {
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
}
@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.form-container h3 {
  font-family: sans-serif;
  font-size: 14px;
  color: #7c7c7c;
}

#change-form {
  width: 28%;
  margin-top: 20px;
  position: relative;
}
#change-form div i {
  position: absolute;
  margin-top: 12px;
  margin-left: 10px;
  font-size: 12px;
}
#change-form input {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-size: 11px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #eeeeee;
}

#change-form input[type="password"] {
  padding-left: 30px;
  color: #444;
}

#change-form input:nth-child(3) {
  width: 50%;
  margin-top: 15px;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: #111111;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#change-form input:nth-child(3):active {
  scale: 0.9;
}

#loader {
  display: none;
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

#loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

.particle-container {
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevents particles from blocking clicks */
  z-index: 999; /* Make sure it's above your content */
}

.particle {
  position: absolute;
  background-color: #ffffff; /* Set the background color or image */
  width: 2px;
  height: 2px;
  border-radius: 50%;
  pointer-events: none;
  animation: fade 1s ease-out; /* Customize animation duration and easing */
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.fa-youtube :hover{
color: red;
}

.fa-instagram:hover{
  color: #E91E63;
}

.fa-facebook:hover{
  color: #3F51B5;
}
.fa-twitter:hover{
  color: #1E88E5;
}
