@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Gelasio', serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Sometype Mono', monospace; */
}
*root {
  --gelasio: "Gelasio", serif;
  --poppins: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  border: 1px solid #eeeeee;
  background-color: white;
  font-family: "Sometype Mono", monospace;
}
.navItem {
  width: 90%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftnav {
  /* border: 1px solid red; */
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 14%;
  /* border: 1px solid blue; */
}
.logo img {
  width: 100%;
  object-fit: cover;
}
.search-box {
  /* border: 1px solid rebeccapurple; */
  position: relative;
}
.search-box input {
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #eeeeee;
}
.fa-magnifying-glass {
  position: absolute;
  top: 26%;
  left: 5%;
  color: #6e6e6e;
}
.search-box input[type="search"] {
  padding-left: 35px;
  color: #444;
}
.search-box input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.rightNav {
  width: 23%;
  /* width: 18%; */
  /* border: 1px solid red; */
  position: relative;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.write-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #7c7c7c;
  font-size: 13px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.write-box:hover {
  color: black;
}
.write-box i {
  color: #6e6e6e;
}

.signin button {
  width: 100%;
  background-color: rgb(26, 25, 25);
  color: white;
  padding: 8px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all ease 0.2s;
  outline: none;
  border: none;
}
.signin button:active {
  scale: 0.9;
}
.signup button {
  width: 100%;
  background-color: #eeeeee;
  color: #444;
  padding: 8px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all ease 0.2s;
  outline: none;
  border: none;
}
.signup button:active {
  scale: 0.9;
}
.notification {
  position: relative;
  display: none;
}
.notification i {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 50%;
  font-size: 15px;
  color: #6e6e6e;
  cursor: pointer;
}
.notification i span {
  position: absolute;
  margin-left: -5px;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  background-color: red;
}
.profile {
  /* position: relative; */
  display: none;
  width: 70%;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}
.user-options {
  display: nonoe;
  width: 68%;
  position: absolute;
  right: 10%;
  background-color: white;
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  /* border: 1px solid black; */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
}
.user-options.active {
  transform: scale(1);
  opacity: 1;
}
.options div a {
  width: 100%;
  display: block;
  font-family: serif;
  font-size: 13px;
  border: 1px solid white;
  text-align: start;
  padding: 11px;
  text-decoration: none;
  color: #6e6e6e;
  letter-spacing: 0.3px;
}
.options div a:hover {
  background-color: #eeeeee;
  color: #2e2d2d;
}
.sign-out {
  text-align: start;
  border-top: 1px solid #eeeeee;
}
.sign-out:hover {
  background-color: #eeeeee;
}
.sign-out p {
  font-family: serif;
  font-size: 13px;
  border: 1px solid white;
  text-align: start;
  padding: 11px;
  color: #111111;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.blog-main {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  /* border: 1px solid black; */
}
.blog-section {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: start;
  gap: 20px;
  /* margin-top: 10px; */
}
.left-blog-details {
  box-shadow: 3px 0px 1px rgba(160, 160, 160, 0.15);
  width: 70%;
}
.left-blog-details ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 2px solid #444;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--poppins);
  color: #6e6e6e;
  cursor: pointer;
  position: relative;
}

.left-blog-details ul li {
  display: table;
}

.left-blog-details ul li::before {
  content: "";
  display: table-row;
  border-bottom: 2px solid #78909c;
  padding-bottom: 10px;
}

.user-blog-info {
  width: 95%;
}
.user-card {
  width: 95%;
  padding: 10px 0 10px 0;
  border-top: 1px solid #eeeeee;
  cursor: pointer;
}
.user-details {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.user-details span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #444;
}
.user-image {
  width: 2%;
}
.user-image img {
  width: 100%;
  border-radius: 50%;
}
.blog-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
  margin-right: 10px;
}
.blog-text {
  width: 75%;
  cursor: pointer;
}
.blog-text p:first-child {
  font-size: 20px;
  font-weight: 600;
  color: #2e2d2d;
  letter-spacing: 0.4px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}
.blog-text p:last-child {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-family: "Gelasio", serif;
  color: #444;
}
.blog-image {
  width: 15%;
  height: 80px;
}
.blog-image img {
  width: 100%;
  height: 100%;
}
.category-like {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.category-like div p {
  background-color: #eeeeee;
  padding: 4px 15px;
  font-size: 12px;
  font-family: "Poppins";
  border-radius: 15px;
}
.fa-heart {
  color: #555454;
  margin-right: 10px;
}
.like {
  color: #555454;
  font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
}
.load-more button {
  margin-top: 20px;
  padding: 6px 10px;
  border-radius: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Poppins";
  color: honeydew;
  border: none;
  background-color: #4caf50;
  cursor: pointer;
  transition: all ease 0.2s;
  margin-bottom: 20px;
}

.load-more button:active {
  scale: 0.9;
}

.right-blog-details {
  width: 30%;
  /* border: 1px solid red; */
}

.post-filter h2 {
  font-size: 13px;
  font-family: "Poppins";
  color: #444;
  font-weight: 500;
}
.filter-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.filter-options button {
  flex-grow: 1;
  flex-basis: 200;
  margin: 5px 5px 5px 0;
  padding: 6px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Gelasio", serif;
  background-color: #eeeeee;
  color: #444;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filter-options button:hover {
  background-color: black;
  color: honeydew;
}

.filter-options button.selected{
   background-color: black;
  color: honeydew;
}

.trending {
  margin-top: 15px;
}
.trending span {
  font-family: "Gelasio", serif;
  font-size: 13px;
  font-weight: 500;
  color: #444;
}
.trending i {
  font-size: 12px;
  color: #444;
  margin-left: 10px;
}
.top-trending {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.top-leaderboard {
  width: 50%;
  text-align: center;
  padding: 0px 8px;
}
.top-leaderboard h1 {
  font-size: 45px;
  font-family: "Gelasio", serif;
  color: #c7c7c7;
  font-weight: 600;
}

.trend-blog-details {
  display: flex;
  align-items: center;
}
.top-user-image {
  width: 5%;
  margin-right: 5px;
  border-radius: 50%;
}
.top-user-image img {
  width: 100%;
  border-radius: 50%;
}
.trend-blog-details {
  margin-top: 8px;
}
.trending-blog{
  margin-left: 15px;
}
.trend-blog-details span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 11px;
  margin-right: 3px;
}
.trend-blog-text {
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #2e2d2d;
}
